<div class="flex justify-center gap-5 text-3xl text-purple-900">
  <button
    class="border-2 border-purple-600 p-3 rounded-md hover:bg-purple-400"
    (click)="filteringTodos()"
  >
    Show Todo's
  </button>
  <button
    class="border-2 border-purple-600 p-3 rounded-md hover:bg-purple-400"
    (click)="filteringDone()"
  >
    Show Done
  </button>
  <button
    class="border-2 border-purple-600 p-3 rounded-md hover:bg-purple-400"
    (click)="resetingFilter()"
  >
    Reset
  </button>
</div>
