<main>
  <h1 class="text-center text-4xl font-bold text-purple-600 p-5 underline">
    {{ title }}
  </h1>
  <article>
    <app-todo-form (newTodoAdded)="addNewTodo($event)" />
    <app-todo-filter
      (filterDone)="onFilteringDone()"
      (filterTodos)="onFilteringTodos()"
      (filterReset)="onResetingfilter()"
    />
    <app-todo-list
      (todoDelete)="deletingTodo($event)"
      (todoStatusChanged)="updatingInputCheck($event)"
      [todoList]="TodoList()"
    />
    <p></p>
  </article>
</main>
